In [6]:
import pandas as pd
import pyprind
import os

bar = pyprind.ProgBar(50000)
labels = {'pos':1, 'neg':0}

df = pd.DataFrame()
for s in ('test', 'train'):
    for l in ('pos', 'neg'):
        path = './aclImdb/%s/%s' % (s,l)
        for file in os.listdir(path):
            with open(os.path.join(path, file), 'r', encoding='utf-8') as infile:
                txt = infile.read()
            df = df.append([[txt, labels[l]]], ignore_index=True)
            bar.update()

0% [##############################] 100% | ETA: 00:00:00
Total time elapsed: 00:01:26

In [7]:
df.columns = ['review', 'sentiment']
df.head()

                                              review  sentiment
0  Man, is it great just to see Young and The Res...          1
1  One of the greatest movies to come out of the ...          1
2  Alright, the first time I seen "Talk Radio" wa...          1
3  I think this is Pauly Shore's best stuff, he p...          1
4  my girlfriend, as we walk in the cold London e...          1

In [8]:
import numpy as np

np.random.seed(0)
df = df.reindex(np.random.permutation(df.index))
df.to_csv('./movie_data.csv', index=False)

In [18]:
df = pd.read_csv('./movie_data.csv')
df.head()

                                              review  sentiment
0  Dirty Dancing follows the story of Frances 'Ba...          1
1  This is more than just an adaptation of Bond: ...          0
2  This adaptation positively butchers a classic ...          0
3  The only notable thing about this film is that...          1
4  this movie has lot of downsides and thats all ...          0

In [19]:
import re

def preprocessor(text):
    text = re.sub('<[^>]*>', '', text)
    emoticons = re.findall('(?::|;|=)(?:-)?(?:\)|\(|D|P)',text)
    text = re.sub('[\W]+', ' ', text.lower()).join(emoticons).replace('-','')
    
    return text

preprocessor('</a> this: :) is a test :-)!')

':) this is a test :)'

In [ ]:
preprocessor(df.loc[0, 'review'][-50:])

In [16]:

df['review'] = df['review'].apply(preprocessor)

In [17]:
df.head()

  review  sentiment
0                 1
1                 0
2                 0
3                 1
4                 0