In [225]:
import pandas as pd
import numpy as np

columns = [('Barked'),('Sex')]
data = np.array([['Q', 1], ['S', 0],['S', 0],['S', 0],['E', 1]])

df = pd.DataFrame(data=data, columns=columns)

In [226]:
df.head()

  Barked Sex
0      Q   1
1      S   0
2      S   0
3      S   0
4      E   1

In [227]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

Enc_ohe = OneHotEncoder()
Enc_label = LabelEncoder()

In [228]:
df['Barked'] = Enc_label.fit_transform(df['Barked'])
df[['Barked']]

   Barked
0       1
1       2
2       2
3       2
4       0

In [229]:
Enc_label.classes_

array(['E', 'Q', 'S'], dtype=object)

In [230]:
matrix = Enc_ohe.fit_transform(df[['Barked']]).todense()
matrix

matrix([[ 0.,  1.,  0.],
        [ 0.,  0.,  1.],
        [ 0.,  0.,  1.],
        [ 0.,  0.,  1.],
        [ 1.,  0.,  0.]])

In [231]:
barked_df = pd.DataFrame(data=matrix, columns=Enc_label.classes_)

In [232]:
barked_df.head()

     E    Q    S
0  0.0  1.0  0.0
1  0.0  0.0  1.0
2  0.0  0.0  1.0
3  0.0  0.0  1.0
4  1.0  0.0  0.0

In [233]:
df[['Sex']].head()

  Sex
0   1
1   0
2   0
3   0
4   1

In [234]:
df_full = pd.concat([barked_df, df[['Sex']]], axis=1)

In [235]:
df_full.head()

     E    Q    S Sex
0  0.0  1.0  0.0   1
1  0.0  0.0  1.0   0
2  0.0  0.0  1.0   0
3  0.0  0.0  1.0   0
4  1.0  0.0  0.0   1