In [1]:
import numpy as np

X = np.array([[0, 1, 0, 1],[1, 0, 1, 1], [0, 0 ,0 ,1], [1, 0, 1, 0]])
y = np.array([0, 1, 0, 1])

In [2]:
np.unique(y)

array([0, 1])

In [3]:
import pandas as pd
columns = ['a', 'b', 'c', 'd']
df = pd.DataFrame(X, columns)

In [4]:
df.head()

   0  1  2  3
a  0  1  0  1
b  1  0  1  1
c  0  0  0  1
d  1  0  1  0

In [5]:
df.stack().unique()

array([0, 1])