In [1]:
import pandas as pd
bitcoin = pd.read_csv('/home/qubit/datasets/order.csv',delimiter='\t')
bitcoin.keys()

Index(['ID', 'ASK', 'COUNT', 'CREATED', 'MAX', 'MEAN', 'MEDIAN', 'MIN',
       'STANDARDDEVIATION', 'SUM', 'SYMBOL', 'VARIANCE'],
      dtype='object')

In [2]:
bitcoin.describe()

,ID,ASK,COUNT,CREATED,MAX,MEAN,MEDIAN,MIN,STANDARDDEVIATION,SUM,VARIANCE
count,5460.000000,5460.000000,5460.0,5.460000e+03,5460.000000,5460.000000,5460.000000,5.460000e+03,5460.000000,5460.000000,5.460000e+03
mean,5160.500000,0.500000,50.0,1.498680e+12,657.523392,61.912285,7.583868,4.661794e-02,124.335141,3095.614262,1.009713e+06
std,1576.310566,0.500046,0.0,1.399918e+05,5304.325392,492.402377,67.950154,2.779098e-01,997.213979,24620.118860,8.531360e+06
min,2431.000000,0.000000,50.0,1.498680e+12,0.149897,0.010809,0.000100,3.115000e-13,0.032150,0.540432,1.033618e-03
25%,3795.750000,0.000000,50.0,1.498680e+12,1.248206,0.087828,0.002317,1.000011e-04,0.242808,4.391400,5.895572e-02
50%,5160.500000,0.500000,50.0,1.498680e+12,3.321262,0.224138,0.007585,1.021481e-04,0.617959,11.206892,3.818738e-01
75%,6525.250000,1.000000,50.0,1.498681e+12,9.067501,0.472687,0.020496,1.198536e-04,1.599791,23.634352,2.559331e+00
max,7890.000000,1.000000,50.0,1.498681e+12,52615.425378,5202.666980,1316.377181,2.563065e+00,10586.626665,260133.349002,1.120767e+08

In [3]:
bitcoin.head(1)

,ID,ASK,COUNT,CREATED,MAX,MEAN,MEDIAN,MIN,STANDARDDEVIATION,SUM,SYMBOL,VARIANCE
0,6202,0,50,1498680519984,52074.267225,5123.426308,738.593293,0.2482,10586.626665,256171.315423,BTC,1.120767e+08

In [5]:
bitcoin['CREATED'] = pd.to_datetime(bitcoin['CREATED'], unit='ms')
bitcoin.head(1)

,ID,ASK,COUNT,CREATED,MAX,MEAN,MEDIAN,MIN,STANDARDDEVIATION,SUM,SYMBOL,VARIANCE
0,6202,0,50,2017-06-28 20:08:39.984,52074.267225,5123.426308,738.593293,0.2482,10586.626665,256171.315423,BTC,1.120767e+08

In [6]:
import numpy as np

symbols = bitcoin.SYMBOL
np.unique(symbols)

array(['AMP', 'ARDR', 'BCN', 'BCY', 'BELA', 'BLK', 'BTC', 'BTCD', 'BTM',
       'BTS', 'BURST', 'CLAM', 'DASH', 'DCR', 'DGB', 'DOGE', 'EMC2', 'ETC',
       'ETH', 'EXP', 'FCT', 'FLDC', 'FLO', 'GAME', 'GNO', 'GNT', 'GRC',
       'HUC', 'LBC', 'LSK', 'LTC', 'MAID', 'NAUT', 'NAV', 'NEOS', 'NMC',
       'NOTE', 'NXC', 'NXT', 'OMNI', 'PASC', 'PINK', 'POT', 'PPC', 'RADS',
       'REP', 'RIC', 'SBD', 'SC', 'SJCX', 'STEEM', 'STR', 'STRAT', 'SYS',
       'VIA', 'VRC', 'VTC', 'XBC', 'XCP', 'XEM', 'XMR', 'XPM', 'XRP',
       'XVC', 'ZEC'], dtype=object)

In [7]:
bitcoin[(bitcoin.SYMBOL == 'BTC')].count()

ID                   84
ASK                  84
COUNT                84
CREATED              84
MAX                  84
MEAN                 84
MEDIAN               84
MIN                  84
STANDARDDEVIATION    84
SUM                  84
SYMBOL               84
VARIANCE             84
dtype: int64

In [8]:
bitcoin_btc = bitcoin[(bitcoin.SYMBOL == 'BTC')]
bitcoin_btc.head(1)

,ID,ASK,COUNT,CREATED,MAX,MEAN,MEDIAN,MIN,STANDARDDEVIATION,SUM,SYMBOL,VARIANCE
0,6202,0,50,2017-06-28 20:08:39.984,52074.267225,5123.426308,738.593293,0.2482,10586.626665,256171.315423,BTC,1.120767e+08

In [9]:
bitcoin_btc.tail(1)

,ID,ASK,COUNT,CREATED,MAX,MEAN,MEDIAN,MIN,STANDARDDEVIATION,SUM,SYMBOL,VARIANCE
83,2560,0,50,2017-06-28 20:03:05.716,22944.025787,3665.249274,701.104253,0.24855,5069.909165,183262.463721,BTC,2.570398e+07

In [10]:
date_range = pd.date_range('2014-01-01', '2015-01-01', freq='s')
date_range

DatetimeIndex(['2014-01-01 00:00:00', '2014-01-01 00:00:01',
               '2014-01-01 00:00:02', '2014-01-01 00:00:03',
               '2014-01-01 00:00:04', '2014-01-01 00:00:05',
               '2014-01-01 00:00:06', '2014-01-01 00:00:07',
               '2014-01-01 00:00:08', '2014-01-01 00:00:09',
               ...
               '2014-12-31 23:59:51', '2014-12-31 23:59:52',
               '2014-12-31 23:59:53', '2014-12-31 23:59:54',
               '2014-12-31 23:59:55', '2014-12-31 23:59:56',
               '2014-12-31 23:59:57', '2014-12-31 23:59:58',
               '2014-12-31 23:59:59', '2015-01-01 00:00:00'],
              dtype='datetime64[ns]', length=31536001, freq='S')

In [17]:
xticks = pd.date_range(start=bitcoin_btc.CREATED.min(), end=bitcoin_btc.CREATED.max(), freq='s')
timestring = xticks.strftime("%H %M %S")
timestring[:5]

array(['20 03 05', '20 03 06', '20 03 07', '20 03 08', '20 03 09'],
      dtype='<U8')

In [21]:
import matplotlib.pyplot as plt
%matplotlib inline

plt.figure(figsize=(10,3))
xticks = pd.date_range(start=bitcoin_btc.CREATED.min(), end=bitcoin_btc.CREATED.max(), freq='s')
plt.xticks(date_range, date_range.strftime("%H %M %S"), rotation=90, ha="left")
plt.plot(bitcoin_btc['SUM'], linewidth=1)
plt.xlabel("TIME")
plt.ylabel("SUM")

KeyboardInterrupt: