In [2]:
import pandas as pd
import datetime
import numpy as np
import matplotlib.pyplot as plt
from pandas_datareader import data
%matplotlib inline

dash = pd.read_csv('/home/ml/datasets/DASH60.csv',delimiter=',')
dash.head()

         Date   Time    Open     Max     Min   Close  Volume
0  2017.09.08  13:00  361.00  362.79  335.93  335.93     185
1  2017.09.08  14:00  335.93  335.93  293.66  322.16     274
2  2017.09.08  15:00  322.16  326.39  307.20  323.87     241
3  2017.09.08  16:00  324.00  335.90  324.00  331.37     137
4  2017.09.08  17:00  331.37  331.54  320.73  320.73     121

In [3]:
dash.columns

Index(['Date', 'Time', 'Open', 'Max', 'Min', 'Close', 'Volume'], dtype='object')

In [16]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.neural_network import MLPRegressor
from sklearn.preprocessing import MinMaxScaler

n_train = (dash['Date'].count()*0.7).astype(int)

X = dash[['Max', 'Min']]
y = dash['Close']

X_train, X_test = X[:n_train], X[n_train:]
y_train, y_test = y[:n_train], y[n_train:] 

pipe = Pipeline([("scaler", MinMaxScaler()),("mlp",MLPRegressor(solver='lbfgs', random_state=0, hidden_layer_sizes=[10]))])

In [17]:
from sklearn.model_selection import GridSearchCV

param_grid = {'mlp__activation':['tanh', 'relu', 'logistic'],
             'mlp__alpha':[0.0001, 0.001, 0.01, 0.1, 1, 10]}

grid = GridSearchCV(pipe, param_grid, cv=5)
grid.fit(X_train, y_train)
print("Beste Genauigkeit nach Kreuzvalidierung: {:.2f}".format(grid.best_score_))
print("Bester Score auf den Testdaten: {:.2f}".format(grid.score(X_test, y_test)))
print("Beste Parameter: {}".format(grid.best_params_))

Beste Genauigkeit nach Kreuzvalidierung: 0.97
Bester Score auf den Testdaten: 0.98
Beste Parameter: {'mlp__activation': 'relu', 'mlp__alpha': 1}