In [14]:
import pandas as pd

dataframe = pd.read_csv('Iris.csv',delimiter=',')
dataframe.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [15]:
dataframe['Species'].value_counts()

Iris-versicolor    50
Iris-virginica     50
Iris-setosa        50
Name: Species, dtype: int64

In [16]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
dataframe['Species'] = le.fit_transform(dataframe['Species'])

In [17]:
dataframe.head(1)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   1            5.1           3.5            1.4           0.2        0

In [18]:
from sklearn.model_selection import train_test_split

X,y = dataframe.iloc[:,0:4].values, dataframe.iloc[:,5]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [19]:
from sklearn.svm import SVC

svc = SVC()
svc.fit(X_train, y_train)
acc_svc = svc.score(X_train, y_train)
acc_svc

1.0

In [21]:
from sklearn.linear_model import LogisticRegression

logreg = LogisticRegression()
logreg.fit(X_train, y_train)
logreg.predict(X_test)
acc_log = logreg.score(X_train, y_train)
acc_log

0.93333333333333335